/*
 * Footer
*/

.mastfoot {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, .5);
}

.footer_social {
text-align: center;
padding: 4rem 0 2rem 0;
}

.footer_social a {
padding: 0 20px 10px 20px;
font-size: 20px;
color:#999;
text-decoration: none;
transition: all 1s ease;
}

.footer_social a:hover {
font-size: 50px;
transition: 0.7s;
border-color: #16161D;
border-bottom: 0.25rem solid;
}
