/*
 * Navigation Bar
 */
.masthead {
  margin-right: auto;
  float: center;
}

.nav-masthead .nav-link {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  border-bottom: .15rem solid transparent;
}

.nav-masthead .active{
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link {
  max-width: 14%;
  margin: 0.7rem;
  margin-right: 1.5rem;
}
