html,
body {
  background-color: #333;
  color : #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  background-image: url('../img/GjrkLhP.jpg');
}

/*
 * Navigation Bar
 */

 .masthead {
   margin-right: auto;
   float: center;
 }

 .nav-masthead .nav-link {
   font-size: 20px;
   font-weight: 700;
   color: rgba(255, 255, 255, .5);
   border-bottom: .15rem solid transparent;
 }

 .nav-masthead .active{
   color: #fff;
   border-bottom-color: #fff;
 }

 .nav-masthead .nav-link:hover,
 .nav-masthead .nav-link:focus {
   border-bottom-color: rgba(255, 255, 255, .25);
 }

 .nav-masthead .nav-link {
   max-width: 14%;
   margin: 0.7rem;
   margin-right: 1.5rem;
 }

/*
 * Body
 */

.project-container{
  max-width: 75%;
  margin:auto;
}

.classs{
  margin-left: auto;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-text-size-adjust: 70%;
  text-size-adjust: 70%;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #aaa, 0 0 40px #aaa, 0 0 50px #aaa, 0 0 60px #aaa, 0 0 70px #aaa;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #777, 0 0 40px #777, 0 0 50px #777, 0 0 60px #777, 0 0 70px #777, 0 0 80px #777;
  }
}

/*
 * Blog
*/

.card{
  text-align: center;
}

.card .card-body{
  text-align: right;
}

/*
 * Footer
*/

.mastfoot {
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, .5);
}

.footer_social {
text-align: center;
padding: 4rem 0 2rem 0;
}

.footer_social a {
padding: 0 20px 10px 20px;
font-size: 20px;
color:#999;
text-decoration: none;
transition: all 1s ease;
}

.footer_social a:hover {
font-size: 50px;
transition: 0.7s;
border-color: #16161D;
border-bottom: 0.25rem solid;
}
